{% extends 'base.html.twig' %}

{% block title %}
	{{controller_route}}
{% endblock %}

{% block body %}
	<div class="ThreeDPage">
		<div {{ react_component('ThreeD') }}></div>
    <div class="ThreeDPage__utilities">
		<a href="{{ path('app_home') }}" class="ThreeDPage__link"> Watch articles </a>
        <a href="{{ path('app_register') }}" class="ThreeDPage__link">Register</a>
		<a href="{{ path('app_login') }}" class="ThreeDPage__link">login</a>
	</div>

{% endblock %}
