{% extends 'base.html.twig' %}
{% block head %}{% endblock %}
{% block title %}register.html.twig
{% endblock %}

{% block body %}

	<a class="GAP" href="{{ path('app_home') }}">GAP.</a>
	<div class="Register__container">
		<div class="wrapper">
			<form method="post" action="{{ path('app_register') }}">
				{{ form_start(registrationForm) }}
				{{ form_errors(registrationForm) }}
				<h1>Create Account</h1>

				<div class="input-box">
					{{ form_label(registrationForm.firstName, null, {'label_attr': {'class': 'placeholder', 'style':'color: #121928'}}) }}
					{{ form_widget(registrationForm.firstName, {'attr': {'class': 'input'}}) }}
					<i class='bx bxs-user'></i>
				</div>

				<div class="input-box">
					{{ form_label(registrationForm.lastName, null, {'label_attr': {'class': 'placeholder', 'style':'color: #121928'}}) }}
					{{ form_widget(registrationForm.lastName, {'attr': {'class': 'input'}}) }}
					<i class='bx bxs-user'></i>
				</div>

				<div class="input-box">
					{{ form_label(registrationForm.username, null, {'class': 'placeholder', 'style': 'color: #121928'}) }}
					{{ form_widget(registrationForm.username, {'attr': {'class': 'input'}}) }}
					<i class='bx bxs-user'></i>
				</div>
				<div class="input-box">
					{{ form_label(registrationForm.mail, null, {'label_attr': {'class': 'placeholder', 'style':'color: #121928'}}) }}
					{{ form_widget(registrationForm.mail, {'attr': {'class': 'input-'}}) }}
					<i class='bx bx-envelope'></i>
				</div>
				<div class="input-box">
					{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input'}}) }}
					<i class='bx bxs-lock-alt'></i>
				</div>

				<div class="input-box">
					{{ form_row(registrationForm.agreeTerms) }}
				</div>

				<div class="register-link">
					<p>You already have an account !
					</p>
					<a href={{ path('app_login') }}>Login
					</a>
				</div>
				<div>
					 <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn">Register</button>
				</div>
			</form>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}
