
{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<div class="container">
			<a href="/home" className="NavBar__logo">
          		<h1>GAP.</h1>
        	</a>
			<div class="Registration__container">
				<div class="Registeration__form">
					<div class="Registeration__header">
						<h1 class="Registeration__title">Login to your account</h1>
					</div>
					<div class="Login-input"></div>
					<div class="input-style">
						<label for="inputUsername">Username</label>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus/>
					</div>

					<div class="input-style">
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required/>
					</div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="flex-container">
						<button type="submit" class="btn__SignIN">Log-in</button>
					</div>
				</div>
        </form>
				<div class="Registeration__form__redirection">
					<h1 class="Registeration__form__redirection__title">New Here !</h1>
					<p class="Redirection__text">
						Sign up and create your first
						<br/>
						article on GAP.
					</p>
					<button type="submit" class="btn__SignUp">
						<a href="{{ path('app_register') }}" class="btn btn-primary">Sign IN</a>
					</button>
				</div>
			</div>
		</div>

	<button class="btn btn-lg btn-primary">Sign in
		<a href="{{ path('app_register') }}" class="btn btn-primary">create account</a>
</button>
{% endblock %}
